*:before,
*:after,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-position {
    z-index: 111;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: transparent;
    transition: 0.3s;
    /* Add your other styles as needed */
    z-index: 999;
}

/* Add styles for the navbar when it's scrolled */
#navbar.scrolled {
    background-color: #333;
    /* Change this to the desired background color */
    /* Add any additional styles for the scrolled navbar */
}

.nav-item a {
    color: hsl(0deg 0% 100%);
    font-size: 14px;
}

.navbar-brand {
    margin-left: 20px;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav a {
    margin-right: 2rem;
}

nav .t-yellow {
    color: hsl(41.82deg 91.16% 64.51%);
    font-size: 1.8rem;
}

.t-yellow {
    color: hsl(41.82deg 91.16% 64.51%);
    font-size: 1.8rem;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
}

.banner-1 {
    /* position: absolute; */
    filter: brightness(0.5);
}

.banner-caption {
    position: absolute;
    top: 300px;
    left: 500px;
    color: #ffff;
}

.tinker-yellow {
    color: hsl(32.26deg 93.81% 55.69%);
    font-weight: 700;
}

.html5 {
    color: hsl(185.38deg 61.9% 50.59%);
    font-weight: 700;
}

.start-btn {
    padding: 12px;
}

.slideshow-container-2 {
    position: relative;
}

.banner-2 {
    /* position: absolute; */
    filter: brightness(0.5);
}

.banner-caption-2 {
    position: absolute;
    left: 160px;
    top: 170px;
    color: #ffff;
}

.icon {
    font-size: 60px;
    border: 3px solid #fff;
    padding: 10px 20px;
    border-radius: 100%;
    background-color: hsl(41.82deg 91.16% 64.51%);
    height: 90px;
    position: relative;
    left: 20px;
}

.icon-heading {
    position: relative;
    left: 5px;
    padding: 12px 5px;
    top: 30px;
    font-weight: 700;
}

.icon-hr {
    position: relative;
    top: 40px;
    right: 40px;
    width: 280px;
    color: #fff;
}

.icon-para {
    position: relative;
    top: 55px;
    right: 60px;
    text-align: center;
}
.banner-caption-2 .btn-info {
    background-color: hsl(185.38deg 61.9% 50.59%);
    color: #fff;
    position: relative;
    top: 70px;
    left: 5px;
}

.gallery-area {
    padding: 20px 160px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: hsl(185.38deg 61.9% 50.59%);
}

.item-testimonail {
    padding: 50px 350px;
    color: hsl(0deg 0% 67.06%);
}

.item-testimonail h5,
p {
    color: #fff;
}

.banner-3 {
    filter: brightness(0.5);
    position: absolute;
}

.blog-caption {
    position: relative;
}

.blog-text {
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
    background: transparent;
    backdrop-filter: blur(8px);
    height: 650px;
}

.page-title {
    filter: brightness(0.8);
    object-fit: cover;
    margin-left: 20px;
}

.nulla-width {
    width: 80%;
    position: relative;
    right: 79px;
}

.box-container {
    position: relative;
    right: 11px;
}

.box-container .box {
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-section {
    background-color: hsl(205deg 6.32% 37.25%);
    color: #fff;
}

.text-center h1::after {
    border-bottom: 2px solid #fff;
}

.contact-p {
    padding: 10px 242px;
}

.contact-font-size {
    font-size: 20px;
}

.contact-hr {
    width: 350px;
    position: relative;
    left: 380px;
}

.footer-section {
    background-color: hsl(204deg 4.35% 22.55%);
    padding:70px 5px 30px;
}

.footer-section .footer {
    padding-left: 65px;
}

.footer-section .text-align {
    color: #ffff; 
    position: relative;
    bottom: 20px;
    font-size: 15px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}

.contact-section .btn-info {
    background-color: hsl(185.38deg 61.9% 50.59%);
}

.footer-section .footer-icon {
    border: 4px solid #ffff;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    margin: 5px 3px;
    height: 26px;
    text-align: center;
    align-items: center;
    position: relative;
    right: 10px;
}
.location-1{
    position: relative;
}
.location .location-1::after{
    content: "";
    border: 1px solid hsl(204deg 3.4% 28.82%);
    position: absolute;
    height: 160%;
    right: -7px;
    bottom: -10px;
}

/* RESPONSIVE DESIGN FOR MOBILE */
@media screen and (max-width:767px) {
    .banner-1{
        width: 100%;
    }
}